/* Basic Styles & Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  background-color: #fff;
}

/* Header Styles */
header {
  background-color: #f6f8fa;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ddd;
  transition: 0.3s ease-in-out;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

.logo img {
  max-width: 50px;
  border-radius: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.logo {
  display: block;
  float: left;
  margin: 5px;
}

.naratic-navbar {
  font-size: 20px;
  font-weight: 700;
}

.menu-toggle {
  display: none;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
  position: relative;
}

nav ul li ul {
  position: absolute;
  display: none;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 98;
  border-radius: 4px;
}

nav ul li:hover ul {
  display: block;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #111;
  font-size: 17px;
  font-weight: 600;
}

/* Dropdown */
nav ul li.dropdown {
  position: static;
}

nav ul li.dropdown:hover ul {
  display: block;
}

.arrow {
  border: 1px solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  margin: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

nav ul li ul li {
  display: block;
  margin: 0;
  padding: 10px 15px;
}

nav ul li ul li a {
  color: #333;
}

nav ul li ul li a:hover {
  color: #111;
}
/* Sidebar Styles */
.sidebar-menu-toggle {
  display: none; /* Hidden for desktop initially */
}

#sidebar {
  position: sticky;
  top: 9%; /* Position below header/navbar */
  left: 0;
  width: 20%;
  height: calc(100vh - 9%); /* Adjust height for header */
  background-color: #f0f0f0; /* Lighter background color */
  overflow-y: auto;
  border-right: 1px solid #eee; /* Subtle right border */
}

.sidebar-list {
  padding: 20px;
}

.sidebar-title {
  display: flex;
  align-items: center;
  height: 60px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee; /* Add bottom border */
}

.sidebar-title h3 {
  margin: 0; /* Remove default margin on headings */
  text-align: left;
}

.sidebar-content a {
  display: block;
  padding: 10px 0;
  margin-left: 10px;
  text-decoration: none;
  color: #222;
}

.sidebar-content a:hover,
.sidebar-list-content.active a {
  background-color: #ddd; /* Slightly darker hover background */
}

/* Main Content Styles */
main {
  padding: 80px 20px 60px 0;
}

.hero-text {
  text-align: center;
  margin-top: 80px;
}
#main-artikel {
  display: flex;
  flex: 1;
}
.artikel {
  flex: 1;
  margin-left: 10px; 
  padding: 20px; 
}

h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.about-content {
  text-align: center;
  margin-top: 80px;
}

.fade-in {
  opacity: 100%;
  animation: fade-in 1s ease-in-out;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.next-button {
  text-align: right;
  margin-top: 20px;
  margin-bottom: 20px;
}

.back-button {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.next-and-back-button {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.isi-artikel {
  border-top: 1px solid #ccc;
  width: 100%;
  padding-top: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #111;
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
  transition: 0.3s ease-in-out;
}

.sidebar-close-menu-toggle {
  display: none;
}

.button:hover {
  background-color: #222;
  padding: 10px 20px;
  border-radius: 20px;
}

table {
  border: 1px solid #ccc;
  width: 100%;
}

th {
  background-color: #ddd;
  text-align: center;
}

td {
  padding: 5px;
}

code,
pre {
  color: #c0392b;
  background-color: #ecf0f1;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 0.5rem;
  font-family: monospace;
  font-size: 15px;
  white-space: pre-wrap;
}

code {
  padding: 2px 6px;
}

/* Styling untuk tag `pre` */
pre {
  background-color: #f6f8fa;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 1rem;
  overflow: auto;
  font-family: monospace;
  font-size: 14px;
}


/* Footer */
footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

/* Utility Classes */
.text-center {
  text-align: center;
}

/* Media Queries */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo img:hover {
  animation: zoom-in 0.5s ease-in-out;
}

@keyframes zoom-in {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@media (max-width: 768px) {
  header {
    position: static;
  }
  table {
    width: auto;
  }

  .naratic-navbar {
    display: block;
    font-size: 30px;
    font-weight: 900;
  }

  .menu-toggle {
    display: block;
    font-size: 30px;
    height: 44px;
    padding: 5px;
    border-color: black;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .responsive-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    justify-content: center; /* Untuk memposisikan tengah */
  }

  .logo {
    display: none;
  }

  nav ul {
    display: none;
  }

  nav ul li {
    display: block;
    margin-left: 0;
    margin-top: 10px;
  }

  .nav-list {
    /* Styling dasar navbar */
    position: absolute;
    padding-bottom: 10px;
    top: 10%; /* Sesuaikan nilai ini */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #f6f8fa;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    display: none;
  }

  .dropdown {
    position: relative;
  }

  .dropdown a {
    display: block;
    padding: 15px; 
  }

  .dropdown ul {
    position: absolute;
    left: 25%;
    top: 80%; 
    display: none;
    width: 50%; 
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .dropdown:hover ul {
    display: block;
  }

  .menu-toggle.active + .nav-list {
    display: block;
  }

  .menu-toggle.active + ul {
    display: block;
    text-align: center;
  }

  .sidebar-menu-toggle {
    position: sticky;
    top: 50px;
    display: block; 
    font-size: 30px;
    height: 44px;
    width: auto;
    margin: 5px;
    padding: 5px;
    border-color: black;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  #sidebar {
    position: absolute;
    top: 0; 
    left: -100%;
    width: 80%; 
    height: 100%; 
    background-color: #f0f0f0;
    overflow-y: auto; 
    border-right: 1px solid #eee; 
    transition: left 0.3s ease; 
  }

  .sidebar.active { 
    left: 0; 
  }

  .sidebar-close-menu-toggle {
    display: block;  /* Ensure the button is visible */
    position: absolute; /* Allows precise positioning within the sidebar */
    top: 15px; /* Adjust top/right positions as needed */
    right: 15px;
    background-color: transparent; /* Or the background color of your choice */
    border: none; /* Clear any default button borders */
    font-size: 20px; /* Size of the close icon */
    cursor: pointer;
  }
  
  .sidebar-close-menu-toggle i {
    color: #333; /* Your desired color for the close icon */
  }
  

  #main-artikel {
    width: 100%; 
  }

  .artikel {
    margin-left: 0; 
}
}
